
.DS_Store
code/.Rapp.history
tmp/
.Rproj.user
.Rhistory
docs/data_for_report_2022/~$table 12 - mus2017_region_name_vs_pop22.xlsx
.RData
docs/data_for_report_2022/~$years_openclose_stats_pc_change - governance.xlsx
docs/data_for_report_2022/~$years_openclose_stats_pc_change - location.xlsx
plots/openclose/openclose_cumulative/~$years_openclose_stats_cumulative-mus_all.xlsx
plots/openclose/openclose_cumulative/~$years_openclose_stats_pc_change.xlsx
docs/data_for_report_2022/~$table 12 - mus2022_region_name_vs_pop22.xlsx
docs/data_for_report_2019/~$table 12 - mus2022_region_name_vs_pop22.xlsx
plots/geodemo_analysis/oac/~$doc-2011 oac list all categories.xlsx
plots/edited_figures/geodemo_paper_figures/~$mus_OAC_LAD-2var-group_name-subject_matter_simpl_aggr--diverg.xlsx
plots/edited_figures/geodemo_paper_figures/~$mus_OAC_LAD-2var-group_name-subject_matter_simpl_aggr--data.xlsx
plots/edited_figures/geodemo_paper_figures/~$mus_OAC_LAD-2var-group_name-governance--data.xlsx
